$blue: #00caff;
$green: #42b983;
$pink: hotpink;
$red: #dc3545;

$primary: $blue;
$primary-dark: darken($primary, 20);
$secondary: $pink;
$danger: $red;
$link: $green;

$black: #111;
$gray: gray;
$white: whitesmoke;
