@import './colors';
@import './restore';

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .cell {
    margin: 0.25rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
